
<div fxLayoutGap="16px grid" >
    <div style="height:500px" *ngIf="livreurs.length == 0">
        <h1 style="color: black;">Aucun resultat !</h1>
    </div>
    <div fxLayoutGap="16px grid" *ngIf="showDropInput == 0">
        <div *ngFor="let livreur of livreurs">
            <mat-card class="card-content">
                <p>Nom Liveur : <b>{{livreur.name}}</b></p>
                <p>contact : <b>{{livreur.contact}}</b></p>
                <p>commande a livrée: {{livreur.nombre_commande}}</p>
                <button color="primary" (click)="letsAsignateCommande(livreur)"  mat-raised-button type="button">asigné commande</button>
            </mat-card>
        </div>
    </div>
    <div *ngIf="showDropInput == 1">
        <mat-card class="card-content">
            <p>Nom Liveur : <b>{{livreurSelected.name}}</b></p>
            <p>contact : <b>{{livreurSelected.contact}}</b></p>
            <p>commande a livrée: {{livreurSelected.nombre_commande}}</p>
            <ul cdkDropList class="drop-area"  [cdkDropListData]="commandes" (cdkDropListDropped)="drop($event)">
                <div cdkDrag *ngFor="let commande of commandes">
                    <mat-card style=" border-top: 2px solid black; border-left: none;" class="card-content">
                        <table  class="content-table" >
                            <tbody>
                                <tr>
                                    <td>
                                        <b>Commande du {{commande.date_comande}}</b>
                                    </td>
                                    <td>
                                        Restaurant : <b>{{commande.restaurant_name}}</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        nom client : <b>{{commande.client_name}}</b>
                                    </td>
                                    <td>
                                        contact Client : <b>{{commande.client_contact}}</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        address de livraison : <b>{{commande.lieu_adresse_livraison}}</b>
                                    </td>
                                    <td>
                                        Total : <b>{{commande.prix_global}} Ar</b>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <b style="text-align: center;">Detail de la livraison</b>
                        <table class="content-table-detail">
                            <tbody>
                                <tr *ngFor="let plat of commande.detail_commande">
                                    <td>{{plat.plat_name}}</td>
                                    <td>Pu : {{plat.plat_prix}} Ar</td>
                                    <td>{{plat.nombre}}</td>
                                </tr>    
                            </tbody>
                        </table>
                    </mat-card>
                </div>
            </ul>
            <button *ngIf="commandes.length == 0" disabled="disabled" color="primary"  mat-raised-button type="button">asigné</button>
            <button *ngIf="commandes.length != 0" color="primary" (click)="asignLivraison()" mat-raised-button type="button">asigné</button>
            <button *ngIf="commandes.length == 0" commandes color="accent" (click)="undpoAsignateCommande()" mat-button type="button">retour</button>
            <button *ngIf="commandes.length != 0" commandes disabled="disabled" color="accent" mat-button type="button">retour</button>
        </mat-card>
    </div>
</div>
