
<app-navbar></app-navbar>
<div>
    <mat-toolbar>Ma Commande</mat-toolbar>
    <div class="content">
        <div fxLayoutGap="16px grid" >

            <h2>Information de la commande</h2>

            <mat-card>
                <div style="margin-left: 15px;">
                    <p><b>Commande du {{CommandeObject.date_comande}} - {{CommandeObject.client_name}}</b></p>
                    <br>
                    <p>Restaurant patenaire: <b>{{CommandeObject.restaurant_name}}</b></p>
                    <br>
                    <p>Contact du client : <b>{{CommandeObject.client_contact}}</b></p>
                    <br>
                    <p>Lieu ou adress de livraison : <b><input type="text" [(ngModel)]="CommandeObject.lieu_adresse_livraison"></b></p>
                    <br>
                    <p>Total : <b>{{CommandeObject.prix_global}}</b></p>
                </div>
            </mat-card>
            <br>

            <h2>Liste des plats commander</h2>
            
            <div *ngFor="let plat of CommandeObject.detail_commande">
                <mat-card class="card-content" fxLayout="row">
                    <span>{{plat.plat_name}}</span>
                    <span>prix unitaire : {{plat.plat_prix}}</span>
                    <span>nombre : {{plat.nombre}}</span>
                    <div *ngIf="CommandeObject.etat == 0" class="card-content" >
                        <a mat-button (click)="minusPlatNumber(plat)" title="diminuer"><mat-icon>remove</mat-icon></a>
                        <a mat-button (click)="plusPlatNumber(plat)" title="augmenter"><mat-icon>add</mat-icon></a>
                        <a mat-button (click)="removePlat(plat)" ><mat-icon style="color: red;" >remove_circle_outline</mat-icon></a>
                    </div>
                </mat-card>
            </div>

            <mat-toolbar *ngIf="CommandeObject.etat == 0" >
                <button (click)="actionOrder()" mat-button style="margin-left: 45%; background-color:#4f992d; color:white;">Términer</button>
            </mat-toolbar>

            <h2>Les plats du Restaurant</h2>

            <div class="menu">
                <mat-toolbar>Bozaka</mat-toolbar>
                <div class="content">
                    <div fxLayout="row wrap" fxLayoutGap="16px grid">
                        <div style="height:500px" *ngIf="PlatResto.length == 0">
                            <h1 style="color: white;">Aucun resulat !</h1>
                        </div>
                        <div fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let plat of PlatResto">
                            <mat-card class="card">
                                <mat-card-header>
                                    <mat-card-title>{{plat.name}}</mat-card-title>
                                </mat-card-header>
                                <img mat-card-image src="./../../../assets/image/login.gif">
                                <mat-card-content>
                                    <p>{{plat.description}}</p>
                                    <p><span>Restaurant : </span>{{plat.restaurant_name}}</p>
                                    <p><span>Categorie : </span> {{plat.categorie_name}} </p>
                                    <h2>{{plat.prix}} Ar</h2>
                                </mat-card-content>
                                <mat-card-actions>
                                    <button *ngIf="CommandeObject.etat == 0" (click)=" addPlat(plat)" class="button" mat-button>Ajouter à la commande</button>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </div>
                </div>
                <mat-toolbar>
                    <button mat-button style="color:#4f992d;"><mat-icon style="color:#4f992d;">arrow_back</mat-icon>Precedant</button>
                    <div style="flex:1 1 auto;"></div>
                    <button mat-button style="color:#4f992d;">Suivant<mat-icon style="color:#4f992d;">arrow_forward</mat-icon></button>
                </mat-toolbar>
            </div>

        </div>
    </div>
   
</div>
