<div style="background-image: url('../../../../assets/image/fondClient.jpg');" fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="30">
        <p style="color: red;">{{error.error}}</p>
        <form *ngIf="confirmation == 0" fxLayoutAlign="stretch" fxLayout="column">
            <h1 style="text-align: center;">Inscription</h1>
            <mat-form-field >
                <input matInput placeholder="nom" name="nom" [(ngModel)]="nom">
            </mat-form-field>
            <p style="color: red;">{{error.nom}}</p>
            <br>
            <mat-form-field >
                <input matInput placeholder="email" name="email" [(ngModel)]="email">
            </mat-form-field>
            <p style="color: red;">{{error.email}}</p>
            <br>
            <mat-form-field >
                <input matInput placeholder="password" type="password"  name="password" [(ngModel)]="password">
            </mat-form-field>
            <p style="color: red;">{{error.password}}</p>
            <br>
            <mat-form-field >
                <input matInput placeholder="contact"  name="contact" [(ngModel)]="contact">
            </mat-form-field>
            <p style="color: red;">{{error.contact}}</p>

            <button (click)="continue()" style="background-color:#4f992d; color: white;" mat-button type="button" >Continue</button>
        </form>
        <form  *ngIf="confirmation == 1" fxLayoutAlign="stretch" fxLayout="column">
            <h1 style="text-align: center;">Code de confirmation</h1>
            <p>Veuillez entrer le code de confirmation envoyé a votre addresse email</p>
            <mat-form-field >
                <input matInput placeholder="code" name="code" [(ngModel)]="code">
            </mat-form-field>
            <p style="color: red;">{{error.code}}</p>
            <button (click)="inscription()" style="background-color:#4f992d; color: white;" mat-button type="button" >S'inscrire</button>
        </form>
        <form  *ngIf="confirmation == 2" fxLayoutAlign="stretch" fxLayout="column">
            <h1 style="text-align: center;">Félicitation</h1>
            <p>Votre inscription a été effectuer avec success.<br/> Connecter vous avec l'interfacce login</p>
            <button routerLink="/login" style="background-color:#4f992d; color: white;" mat-button type="button" >Login</button>
        </form>        
    </mat-card>  
</div>