<app-navbar></app-navbar>
<div>
    <mat-toolbar>Commande</mat-toolbar>
    <div class="content">
        <div fxLayoutGap="16px grid" >
            <div *ngFor="let plat of [1,2,3,4,1,5]">
                <mat-card class="card-content" fxLayout="row">
                    <span><b>Commande du 2022/02/30 - Jean de la Croix</b></span>
                    <span>Restaurant : <b>Bozaka</b></span>
                    <span>Total : <b>1200ar</b></span>
                    <div class="card-content" >
                        <a mat-button title="annuler la commande"><mat-icon style="color: red;">remove_circle_outline</mat-icon></a>
                        <a mat-button title="valider la commande"><mat-icon style="color:#4f992d;">task_alt</mat-icon></a>
                        <a mat-button ><mat-icon >arrow_forward</mat-icon></a>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
   
</div>
