<mat-toolbar  style="background-image: url('../../../../assets/image/gestion-de-commande-livraison.jpg'); color: white;">
    <span style="font-size: 45px;">
        <mat-icon style="color:#4f992d;">fastfood</mat-icon>E-Kaly
    </span>
    <p  style="font-size: 15px;">Back-office E-Kaly</p>
    <div class="spacer"></div>
    <a mat-button routerLink="/ekaly-bo/home" >Designation commande liveur</a>
    <a mat-button >Restaurant</a>
    <a mat-button >Liveur</a>
    <a mat-button routerLink="/ekaly-bo/dashboard" >Tableau de bord</a>
    <a mat-raised-button color="primary" routerLink="/ekaly-bo/login" >deconnexion</a>
</mat-toolbar>
