<app-loader></app-loader>

<app-navbar-livreur></app-navbar-livreur>
<div>
    <mat-toolbar>Commande A livrer</mat-toolbar>
    <div class="content">
        <div fxLayoutGap="16px grid" >
            <div style="height:500px" *ngIf="MesCommandes.length == 0">
                <h1 style="color: black;">Aucun resulat !</h1>
            </div>
            <div *ngFor="let commande of MesCommandes">
                <mat-card style="border-top: 2px solid black ;" class="card-content" fxLayout="row">

                    <table class="content-table">
                        <tbody>
                            <tr>
                                <td>{{commande.date_comande}}</td> 
                                <td><b>Restaurant : </b>{{commande.restaurant_name}}</td>
                                <td><b>Total : </b>{{commande.prix_global}}</td>
                                <td><b>Contact : </b>{{commande.client_contact}}</td>
                                <td><b>lieu de livraison : </b>{{commande.lieu_adresse_livraison}}</td>
                                <td>
                                    <nav *ngIf="commande.etat == 20">
                                        <span style="color:#fad506">Pret pour la livraison</span>
                                    </nav>
                                    <nav *ngIf="commande.etat == 25">
                                        <span style="color:#37fa06"> la livraison est en cours</span>
                                    </nav>
                                </td>
                                <td>
                                    <nav *ngIf="commande.etat == 20">
                                        <a mat-button (click)="demmarerLivraison(commande)" title="demmarer la livraison"><mat-icon style="color:#ee650a;">local_fire_department</mat-icon></a>
                                    </nav>
                                    <nav *ngIf="commande.etat == 25">
                                        <a mat-button (click)="cloturerLivraison(commande)" title="livrer"><mat-icon style="color:#4f992d;">delivery_dining</mat-icon></a>
                                    </nav>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- <span><b>Commande du {{commande.date_comande}}</b></span>
                    <span>Restaurant : <b>{{commande.restaurant_name}}</b></span>
                    <span>Total : <b>{{commande.prix_global}}</b></span>
                    <div class="card-content" >
                        <nav *ngIf="commande.etat == 20">
                            <p style="color:#fad506">Pret pour la livraison</p>
                        </nav>
                        <nav *ngIf="commande.etat == 25">
                            <p style="color:#37fa06"> la livraison est en cours</p>
                        </nav>

                        <nav *ngIf="commande.etat == 20">
                            <a mat-button (click)="demmarerLivraison(commande)" title="demmarer"><mat-icon style="color:#ee650a;">local_fire_department</mat-icon></a>
                        </nav>
                        <nav *ngIf="commande.etat == 25">
                            <a mat-button (click)="cloturerLivraison(commande)" title="livrer"><mat-icon style="color:#4f992d;">delivery_dining</mat-icon></a>
                        </nav>
                    </div> -->
                </mat-card>
                <hr>
                <mat-card >
                    <table class="content-table">
                        <thead>
                            <tr>
                                <th>Nom du plat</th>
                                <th>prix unitaire</th>
                                <th>nombre commander</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let detail of commande.detail_commande" >
                                <td>{{detail.plat_name}}</td> 
                                <td>{{detail.plat_prix}}</td>
                                <td>{{detail.nombre}}</td>
                            </tr>
                        </tbody>
                    </table>
                </mat-card>
                <br><br>
            </div>
        </div>
    </div>
   
</div>