
<app-navbar-ekaly></app-navbar-ekaly>
<div style="margin-top: 30px;">
    <div class="content">
        <div fxLayoutAlign="center" fxFlexFill  cdkDropListGroup>
            <div  fxFlex="50">
                <h2 style="text-align: center;">Commande pret pour la livraison</h2>

                <div class="content">
                    <app-commande-to-deliver></app-commande-to-deliver>
                </div>

            </div>
            <div fxFlex="1">
                
            </div>
            <div fxFlex="50">
                <h2 style="text-align: center;">Ordre de livreur selon nombre de Commande</h2>

                <div class="content">
                    <app-livreur></app-livreur>
                </div>

            </div>  
        </div>
    </div>
</div>
