<mat-toolbar  style="background-image: url('../../../../assets/image/fondResto.jpg'); color: white;">
    <span style="font-size: 45px;">
        <mat-icon style="color:#4f992d;">fastfood</mat-icon>E-Kaly
    </span>
    <p  style="font-size: 15px;">Back-office Restaurant</p>
    <div class="spacer"></div>
    <a mat-button routerLink="/resto-bo/home" >Gerer les plats</a>
    <a mat-button routerLink="/resto-bo/commande" >Commandes</a>
    <a mat-raised-button color="primary" routerLink="/" >deconnexion</a>
</mat-toolbar>